.header{
    height: 95vh;  /*viewport height*/
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-light, 0.8) , 
    rgba($color-primary-dark, 0.8)), url('../images/hero.jpg');
    background-size: cover;
    background-position: top; /* This makes that the top line of the image stays always the same. play and set it to bottom, center ... */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*cut out a part of a div or of a section (x/y achses on the corners.)*/
    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 5rem;
    }

    &__text-box{
    position: absolute;
    top: 45%;                               /*this three lines are for centering the element*/
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
}

